.app 
{
  display: flex;
  justify-content: space-evenly;
}

.calc-wrapper 
{
  width: 300px;
  height: 300px;
}

.row 
{
  display: flex;
  width: 100%;
}

.Memoria 
{
  width: 30%;
  height: 500px;
}

th,tr{    
  height: 20px;
  width: 100px;
}

.button-wrapper {
  height: 3em;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #474955;
  color: rgb(255, 255, 255);
  flex: 1;
  outline: 1px solid #01081a3f;
}

.operator
{
  background-color: #162a8f;
  color: rgb(255, 255, 255);
}

.input 
{
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  outline: 1px solid #000000;
}

.clear-btn 
{
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #c5c3cd;
  color: #000000;
  flex: 1;
  outline: 1px solid #888888;
}

